//统一rem字体大小
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */}
//h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}
ul{
  margin: 0;
  padding: 0;
}


//重置tab样式
.el-tabs{
  display: inline-block;
}

//cat盒子，里面有标题和内容的样式
.cat-box{
  position: relative;
  margin-top: 30px;
  .title{
    padding: 5px 20px;
    border-left: 6px solid red;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .content{
    padding:0 20px;
  }
}

//自适应大小的img
.auto-img{
  width: 100%;
}


//标题统一字体，大小，颜色
.title{
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
